#bosses #base_bosses{
    padding: 10px;
    margin: 20px; background-color:rgba(255, 255, 255, 0.1); border-radius: 10px;
    display:block;
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 280px));*/
    gap: 25px;
    justify-content: left;
}

.boss{
    
    width: 100%;
}

#bosses #base_bosses h1{
    font-size: larger;
    
}

.bloco_img h1{
    font: larger;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.1); margin: 20px; padding: 5px;

}

#bosses div h1{
    background-color: rgba(255, 255, 255, 0);
}

.boss_img{
    border-radius: 10px;
    width: 280px;
    max-height: 200px;
    min-height: 200px;
}

.bloco_img{
    display: block;
    align-self: left;
    margin-left: 20px;
    max-width: 280px;
}